/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.04.2018, 15:20:11
    Author     : Jess
*/

/* same as main, main ist due to compatability the optimised version for desktop, 
since desktop is the main target platform */

.cardTable{
    margin-bottom: 35px;
}

.cardTableItem-Icon{
    margin-top: 25px;
}

.cardTableSeparate{
    margin-bottom: 20px;
}