/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.04.2018, 15:20:11
    Author     : Jess
*/

.cardTableSeparate{
    width: calc(100% + 4px);
    margin: 0 0 27px -2px;
}

.cardTableSeparate > table{
    border-spacing: 2px;
}

.cardTableSeparateItem{
    padding: 0;
}

.cardTableItem-Icon{
    margin: 10px auto 0 auto;
    width: 60px;
    height: 60px;
    display: block;
    float: none;
}

.cardTableItem-Text{
    margin: 5px;
}

.cardTable{
    margin-bottom: 30px;
}