/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.04.2018, 15:20:11
    Author     : Jess
*/

.header-user{
    right: 0;
}

.content-wrapper{
    margin: 60px 0 0 250px;
    padding: 5px;
}

.navigationMenu{
    top: 60px;
    bottom: 0;
    left: 0;
    width: 250px;
    border-radius: 0;
    font-size: 14px;
}

.searchbar{
    width: 230px;
}

.searchbar > input[type=text]{
    width: 180px;
}

.cardTableSeparate{
    width: calc(100% + 10px);
    margin: 0 0 30px -5px;
}

.cardTableSeparate > table{
    border-spacing: 5px;
}

.cardTableItem-Icon{
    margin: 25px 10px 25px 10px;
    width: 60px;
    height: 60px;
}

.cardTableItem-Text{
    margin: 10px;
}

.cardTable{
    margin-bottom: 30px;
}

table.cardTable{
    margin-top: 30px;
    padding: 10px;
}

.imgLogo-inline--big{
    width: 24px;
    height: 24px;
}