/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.04.2018, 15:20:11
    Author     : Jess
*/

@import "reset.css";
/*@import "https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Playfair+Display|Raleway|Roboto";*/
@import "https://fonts.googleapis.com/css?family=Open+Sans";

:root{
    
}

html{
    font-family: Calibri, Arial, TimesNew;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Playfair Display', serif;*/
/*    letter-spacing: 1px;*/
    color: #3c434f;
    margin: auto;
}

body{
    background-color: gray;
    background: url("../img/WASI_Gebaeude_neu.jpg");
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: #3c434f;
}

.header{
    margin: 0 0 20px 0;
    height: 60px;
    /*background-color: #d90019;*/
    /*background-color: rgba(217,0,25,0.8);*/
    background-color: rgb(255,255,255);
    width: 100%;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 99;
}

.header > h1 > img{
    height: 40px;
    vertical-align: text-top;
    margin-right: 5px; 
}

.header > h1{
    padding: 0;
    display: block;
    margin: 10px 0 0 10px;
    /*margin: 10px 30px 0 30px;*/
    /*color: #fff;*/
    color: #3c434f;
    height: 100%;
    float: left;
    font-weight: normal;
    font-size: 28px;
    transition: .5s;
}

.h1--red{
    color: #d90019;
    font-weight: bold;
}

.h1--gray{
    color: #888;
}

.header-logo{
    position: absolute;
    top: 0;
    left: 45%;
    left: calc(50% - 36.5px);
    display: inline-block;
    height: 60px;
    width: 73px;
}

.header-user{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 4px;
    right: 20px;
    border-radius: 30px;
    border: 1px solid darkgray;
    cursor: default;
    transition: .5s;
/*    background: #e5e5e5;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.4);*/
}

.header-user-image{
    float: left;
    display: inline;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #eee;
    margin: 5px 0 0 5px;
    transition: background .5s;
}

.header-user-text{
    float: left;
    display: inline-block;
    height: 40px;
    margin: 15px;
}

.header-user-menuButton{
    display: none;
    position: absolute;
    margin: 15px;
    list-style-type: none;
    border-radius: 50%;
    background: #eee;
    right: -5px;
    top: -5px;
    text-align: center;
    padding: 7px 5px 3px 5px;
    width: 20px;
    height: 20px;
    transition: background.5s, transform .7s;
    color: gray;
}

.header-user-menuButton::before{
    content: "▼";
}

.header-user:hover{
    background: #e5e5e5;
    background: rgba(0,0,0,0.08);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
/*    background: #fff;
    box-shadow: 2px 1px 6px rgba(0,0,0,0.4);*/
    border-radius: 10px 10px 0 0;
}

.header-user:hover > .header-user-menu{
    border-radius: 0 0 10px 10px;
    transform: scaleY(1);
}

.header-user:hover > .header-user-menuButton{
    background-color: #ccc;
    padding: 5px;
    transform: rotate(-1440deg);
}

.header-user:hover > .header-user-menuButton::before{
    content: "▲";
}

.header-user:hover > .header-user-image{
    background-color: #ccc; 
}

.header-user:hover > .header-user-menu > li{
    transform: translateX(0px);
}

.header-user-menu{
    position: fixed;
    display: inline-block;
    z-index: 99;
    right: 24px;
    top: 55px;
    /*display: none;*/
    margin: 0;
    padding: 0;
    background: #eee;
    /*background: rgba(255,255,255,0.9);*/
    /*background: linear-gradient(rgba(255,255,255,.95) 0%, rgba(220,220,220,.95) 10%, rgba(200,220,240,0.95) 30%, rgba(200,220,240,0.90) 55%, rgba(230,245,255,0.95) 70%);*/
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
    overflow: hidden;
    width: 250px;
    border: 1px solid darkgray;
    border-radius: 30px 30px 10px 10px;
    transition: height .5s ease, border-radius .5s ease, transform .2s ease .3s;
    transform: scaleY(0);
    transform-origin: top;
}

ul.header-user-menu{
    list-style-type: none;
    padding: 0 0 25px 0;
    margin: 0;
}

ul.header-user-menu > li{
    width: 100%;
    transform: translateX(300px);
    transition: .5s ease;
}

ul.header-user-menu > li > a > div{
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: .2s;
}

ul.header-user-menu > li > a > div:hover{
    background-color: rgba(255,255,255,.8);
    text-indent: 10px;
}

.header-menu{
    position: fixed;
    top: 60px;
    left: 0;
    height: 60px;
    width: 100%;
    background: #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: .5s;
}

.header:hover > .header-menu{
    
}

.content-wrapper{
    overflow: hidden;
    margin: 120px 0 0 0;
    padding: 10px;
    transition: .5s;
}

.content-wrapper h1{
    color: #f5f5f5;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    margin: 20px 0;
}

.sidemenu{
    position: fixed;
    top: 60px;
    left: 0;
    height: 60px;
    width: 100%;
    background: #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: .5s;
}

.sidemenu h1{
    display: none;
    margin: 10px;
    padding: 0;
    text-align: center;
    color: #d90019;
}

.sidemenu-content{
    transition: .5s;
    text-shadow: 0 0 16px white;
    overflow: auto;
}

.sidemenu-content > div{
    transition: .2s;
    float: left;
}

.sidemenu-content > div > a > div{
    padding: 12px 0;
    width: 60px;
    height: 60px;
    margin: 0;
    transition: background .2s;
}

.sidemenu-content > div > a > div > span{
    display: none;
}

.sidemenu-content > div > a > div > .imgLogo-inline--big{
    display: block;
    margin: auto;
}

.sidemenu-content > div:hover{
    background: rgba(255,255,255,1);
}

.list-element--active > a > div:hover{
    background: #ff292f;
}

.list-element--active > a > div{
    background: #d90019;
}

.searchbar{
    display: none;
    margin: 20px auto;
    width: 260px;
}

.searchbar > input[type=text]{
    margin: 0;
    border-radius: 10px 0 0 10px;
    outline: none;
    border: 1px solid #c5c5c5;
    padding: 0 5px;
    width: 210px;
    height: 30px;
    background: rgba(255,255,255,0.2);
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.2);
    transition: .2s;
}

.searchbar > input[type=text]:hover{
    background: rgba(255,255,255,0.4);
}

.searchbar > input[type=text]:focus{
    background: rgba(255,255,255,0.7);
}

.searchbar > input[type=submit]{
    position: relative;
    top: -2px;
    border-radius: 0 10px 10px 0;
    margin: 0;
    outline: none;
    background: #858585;
    color: white;
    width: 30px;
    height: 32px;
    border: 1px solid darkgray;
    padding: 0;
    cursor: pointer;
    box-shadow: inset 0 -2px 8px rgba(0,0,0,0.5);
    transition: .2s;
    font-size: 10px;
}

.searchbar > input[type=submit]:hover{
    background: #d90019;
    box-shadow: inset 0 2px 16px rgba(0,0,0,0.7);
}

.cardTableSeparate{
    transition: .5s;
    width: 100%;
    width: calc(100% + 4px);
    margin: 0 0 0 -2px;
}

.cardTableSeparate > table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
}

.cardTableSeparateItem{
    transition: .2s;
/*    background: white;
    background: rgba(255,255,255,0.7);*/
    /*background: linear-gradient(to bottom right,rgba(255,255,255,0.6) 40%,rgba(255,255,255,0.8) 45%, rgba(255,255,255,0.6));*/
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0,0,0,0.5), inset 0 0 16px 0 rgba(255,255,255,0.8);
    max-width: 0; /* to keep all cards same width... */
    max-height: 0; /* ...and height */
    text-shadow: 0 0 16px white;
    padding: 0;
}

.cardTableSeparateItem > div{
    transition: .2s;
}

.cardTableSeparateItem:hover > div{
    background: rgba(255,255,255,0.6);
}

td a{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.cardTable{
    transition: .5s;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    margin: 0 0 50px 0;
}

.cardTable > table{
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
}

.cardTableItem{
    display: block;
    border: 1px solid darkgray;
    margin: 0;
    transition: .2s;
/*    background: white;
    background: rgba(255,255,255,0.5);*/
    /*background: linear-gradient(to bottom right,rgba(255,255,255,0) 40%,rgba(255,255,255,0.8) 45%, rgba(255,255,255,0));*/
    text-shadow: 0 0 16px white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0), inset 0 0 16px 0 rgba(255,255,255,0.8);
}

.cardTableItem:hover{
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.5), inset 0 0 16px 0 rgba(255,255,255,0.8);
}

.cardTableItem-Icon{
    border-radius: 50%;
    margin: 10px 20px 10px 10px;
    width: 80px;
    height: 80px;
    float: left;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
}

.cardTableItem-Text{
    display: block;
    vertical-align: middle;
    margin: 20px;
    
    /*white-space: nowrap;*/ 
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardTableItem-Desc{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    /*white-space: nowrap;*/ 
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
}

.cardTableItem-Count{
    
}

.cardTableItem-Count-Number{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;
    color: #d90019;
}

.cardTableItem-Count-Unit{
    display: inline-block;
    vertical-align: middle;
    
}

table.cardTable{
    cursor: default;
    margin-top: 50px;
    padding: 20px;
/*    background: white;
    background: rgba(255,255,255,0.7);*/
    /*background: repeating-linear-gradient(to bottom right,rgba(255,255,255,.6) 25%,rgba(255,255,255,0.8) 30%, rgba(255,255,255,.6) 60%);*/
    text-shadow: 0 0 16px white;
    box-shadow: 0 0 16px rgba(0,0,0,0.5), inset 0 0 16px 0 rgba(255,255,255,0.8);
}

table.cardTable tr{
    transition: .2s;
}

table.cardTable tr:hover:not(:first-child){
    background: rgba(255,255,255,0.6);
    transform: scale(1.01);
}

table.cardTable tr th{
   text-align: left;
   padding: 0 0 20px 0;
   border-radius: 5px;
}

table.cardTable tr td{
    background: rgba(255,255,255,0.4);
    transition: .2s;
    border-radius: 5px;
    padding: 5px;
}

table.cardTable tr td:first-child{
    background: rgba(255,255,255,0.7);
    /*border-radius: 20px 5px 5px 20px;*/
}

table.cardTable tr td:last-child{
    /*background: rgba(255,255,255,0.8);*/
    /*border-radius: 5px 20px 20px 5px;*/
}

table.cardTable tr td:hover{
    background: rgba(255,255,255,0.9);
    transform: scale(1.05);
}

.imgLogo-inline--small{
/*    width: 26px;
    height: 26px;
    padding: 4px;
    vertical-align: middle;
    margin: 0 10px 0 0;
    background: #e5e5e5;
    border-radius: 50%;*/
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.imgLogo-inline--big{
    width: 30px;
    height: 30px;
    padding: 2px;
    vertical-align: middle;
    margin: 0 20px 0 0;
    background: #e5e5e5;
    border-radius: 50%;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
/*    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 0 10px 0 0;*/
}

.blurry-bg{
    background: url("../img/WASI_Gebaeude_neu_blurry.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.console{
    display:none;
    position: fixed;
    bottom: 0;
    /*bottom: -35%;*/
    left: 0;
    font-family: "Courier New", Courier, monospace;
    color: rgb(220,220,220);
    background-color: rgb(30,30,30);
    width: 100%;
    height: 200px;
    margin: 0;
    resize: none;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.5);
    overflow: hidden;
}

/*  IE Fix for fixed Element "jumping" on scrolling */
/* Causes visual glitches for webkit browsers */

.IEhtmlFix{
    overflow: hidden;
    height: 100%;    
}

.IEbodyFix{
    overflow: auto;
    height: 100%;
}