/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.05.2018, 09:31:15
    Author     : Jess
*/


.header > h1 > img{
    height: 30px;
    vertical-align: text-bottom;
}

.header > h1{
    margin: 15px 0 0 10px;
    font-size: 18px;
}

.h1--red{
    color: #d90019;
    font-weight: bold;
}

.h1--gray{
    color: #888;
}

.header-user{
    width: 50px;
    right: 0;
}

.header-user:hover > .header-user-menu{
    border: 1px solid #ccc;
}

.header-user-menuButton{
    display: none;
}

.header-user-menu{
    top: 45px;
    right: 0px;
    border-radius: 10px;
    border: 0 solid transparent;
}

.header-user-text{
    display: none;
}

.content-wrapper{
    margin: 110px 0 0 0;
    padding: 5px;
}

.navigationMenu{
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    bottom: inherit;
    border-radius: inherit;
    height: 45px;
    border-bottom: 5px solid white;
    box-shadow: inset 0 -3px 8px rgba(0,0,0,0.3);
}

.navigationMenu h1{
    display: none;
}

.navigationMenu-content{
    top: 0;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.navigationMenu-content > div{
    display: inline-block;
    flex: 1;
    min-width: 45px;
    max-width: 160px;
    min-height: 45px;
    max-height: 45px;
    text-align: center;
}

.navigationMenu-content > div > a > div:hover{
    text-indent: inherit;
}

.navigationMenu-content > div > a > div{
    padding: 0;
}

.navigationMenu-content > div > a > div > span{
    display: block;
    display: none;
}

.navigationMenu-content > div > a > div > .imgLogo-inline--big{
    margin: 5px;
}

.navigationMenu-content > div:hover > a > div{
    background: #777;
}

.navigationMenu-content > .list-element--active:hover > a > div {
    background: #d90019;
    color: #fff;
}

.navigationMenu-content > .list-element--active {
    background: rgba(0,0,0,0.2);
}

.list-element--active > a > div:hover{
    background: #ff292f;
}

.list-element--active > a > div{
    border-left: none;
}

.searchbar{
    display: none;
}

table.cardTable{
    padding: 5px;
    font-size: 13px;
    margin: 20px 0 30px 0;
}

table.cardTable tr th{
   padding: 0 0 10px 0;
}

.imgLogo-inline--small{
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}

.imgLogo-inline--big{
    height: 30px;
    width: 30px;
    margin: 0;
}
