/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.05.2018, 09:32:48
    Author     : Jess
*/

@import "reset.css";
/*@import "https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Playfair+Display|Raleway|Roboto";*/
@import "https://fonts.googleapis.com/css?family=Open+Sans";

:root{
    
}

html{
    line-height: normal;
    font-family: Calibri, Arial, TimesNew;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Playfair Display', serif;*/
    /*letter-spacing: 1px;*/
    color: #3c434f;
    margin: 0;
}

body{
    background-color: #fff;
    background: url("../img/WASI_Gebaeude_neu.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: .5s;
    min-width: 300px;
}

a{
    text-decoration: none;
    color: #3c434f;
}

.blurry-bg{
    background: url("../img/WASI_Gebaeude_neu_blurry.jpg");
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.5), inset 0 0 16px 0 rgba(255,255,255,0.8);
    text-shadow: 0 0 16px white;
    background-position: center;
}

.content-wrapper h1{
    color: #f5f5f5;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    margin: 20px 0;
}

.content-wrapper{
    margin: 60px 0 0 330px;
    padding: 30px;
    transition: .5s;
}

.imgLogo-inline--small{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 10px 0 0;
    transition: .5s;
}

.imgLogo-inline--big{
    width: 32px;
    height: 32px;
    padding: 2px;
    vertical-align: middle;
    margin: 0 20px 0 0;
    background: #e5e5e5;
    border-radius: 50%;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    transition: .5s;
}


/*  IE Fix for fixed Element "jumping" on scrolling */
/* Causes visual glitches for webkit browsers */

.IEhtmlFix{
    overflow: hidden;
    height: 100%;    
}

.IEbodyFix{
    overflow: auto;
    height: 100%;
}