:root{
    --baseSwitchColor: #d9d9d9;
    --activeSwitchColor: #d10019;
    --switchBorderColor: darkgray;
    --baseSwitchKnobColor: #e9e9e9;
    --activeSwitchKnobColor: #f5f5f5;
    --switchKnobBorderColor: darkgray;
}

.input_switch{
    width: 50px;
    height: 20px;
    border: 1px solid gray;
    border: 1px solid var(--switchBorderColor,gray);
    background-color: red;
    background-color: var(--baseSwitchColor,red);
    
}

.input_switch.bgShadow{
    box-shadow: inset 2px 1px 4px 0 rgba(0,0,0,0.5);
}

.input_switch.bgRounded{
    border-radius: 20px;
}

.input_switch.bgRounded1{
    border-radius: 3px;
}

.input_switch.bgRounded2{
    border-radius: 7px;
}

.input_switch.anim{
    transition: all 0.1s ease-in-out;
}

.input_switch > .input_switch_bg_active{
    position: relative;
    width: 0;
    height: 100%;
    background-color: lime;
    background-color: var(--activeSwitchColor,lime);
}

.input_switch.bgRounded > .input_switch_bg_active{
    border-radius: 20px 0 0 20px;
}

.input_switch.bgRounded1 > .input_switch_bg_active{
    border-radius: 3px 0 0 3px;
}

.input_switch.bgRounded2 > .input_switch_bg_active{
    border-radius: 7px 0 0 7px;
}

.input_switch.bgShadow > .input_switch_bg_active{
    box-shadow: inset 2px 1px 4px 0 rgba(0,0,0,0.5);
}

.input_switch.anim > .input_switch_bg_active{
    transition: all 0.1s ease-in-out;
}

.input_switch > label{
    display: block;
    position: relative;
    
    top: -21px;
    left: -1px;
        
    width: 20px;
    height: 20px;
    
    background-color: #d9d9d9;
    background-color: var(--baseSwitchKnobColor,#d9d9d9);
    border: 1px solid gray;
    border: 1px solid var(--switchKnobBorderColor,gray);
    
    cursor: pointer;
}

.input_switch.roundKnob{
    overflow: hidden;
}

.input_switch.roundKnob1{
    overflow: hidden;
}

.input_switch.roundKnob2{
    overflow: hidden;
}

.input_switch.roundKnob > label{
    border-radius: 18px;
}

.input_switch.roundKnob1 > label{
    border-radius: 3px;
}

.input_switch.roundKnob2 > label{
    border-radius: 7px;
}

.input_switch.knobShadow > label{
    box-shadow: 2px 1px 4px 0 rgba(0,0,0,0.5);
}

.input_switch.knobShadow.threeDKnob > label{
    box-shadow: inset -3px -3px 4px 0 rgba(0,0,0,0.3), 2px 1px 4px 0 rgba(0,0,0,0.5);
}

.input_switch.threeDKnob > label{
    box-shadow: inset -3px -3px 4px 0 rgba(0,0,0,0.3);
}

.input_switch.anim > label{
    transition: all 0.1s ease-in-out;
}

.input_switch > label:hover{
    background-color: #f5f5f5;
    background-color: var(--activeSwitchKnobColor,#f5f5f5);
}

.input_switch.knobShadow > label:hover{
    box-shadow: 4px 1px 4px 0 rgba(0,0,0,0.3);
}

.input_switch.knobShadow.threeDKnob > label:hover{
    box-shadow: inset -3px -3px 4px 0 rgba(0,0,0,0.3), 4px 1px 4px 0 rgba(0,0,0,0.3);
}

.input_switch > input[type=checkbox]:checked + .input_switch_bg_active{
    width: 100%;
}

.input_switch > input[type=checkbox]:checked ~ label{
    left: 29px;
}

.input_switch.knobShadow > input[type=checkbox]:checked ~ label{
    box-shadow: -2px 1px 4px 0 rgba(0,0,0,0.5);
}

.input_switch.knobShadow > input[type=checkbox]:checked ~ label:hover{
    box-shadow: -4px 1px 4px 0 rgba(0,0,0,0.3);
}

.input_switch.knobShadow.threeDKnob > input[type=checkbox]:checked ~ label{
    box-shadow: inset -3px -3px 4px 0 rgba(0,0,0,0.3), -2px 1px 4px 0 rgba(0,0,0,0.5);
}

.input_switch.knobShadow.threeDKnob > input[type=checkbox]:checked ~ label:hover{
    box-shadow: inset -3px -3px 4px 0 rgba(0,0,0,0.3), -4px 1px 4px 0 rgba(0,0,0,0.3);
}

.input_switch > input[type=checkbox]{
    display: none;
}

.input_switch > label:active{
    box-shadow: none;
}